<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="info"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${catalina.base}/logs/oss.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/oss.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${catalina.base}/logs/oss_error.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/oss_error.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="monitor"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${catalina.base}/logs/oss_monitor.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/oss_monitor.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name ="com.qunar" level="DEBUG" additivity="false">
        <appender-ref ref="info" />
        <appender-ref ref="error" />
        <appender-ref ref="console" />
    </logger>


    <logger name ="com.qunar.pay.g2.cache" level="WARN" >
        <appender-ref ref="info" />
        <appender-ref ref="error" />
    </logger>


    <logger name ="monitor">
        <appender-ref ref="monitor" />
    </logger>

    <logger name ="java.sql" level="DEBUG" additivity="false">
        <appender-ref ref="info" />
        <appender-ref ref="error" />
        <appender-ref ref="console" />
    </logger>

    <root level="INFO">
        <appender-ref ref="info" />
        <appender-ref ref="error" />
        <appender-ref ref="console" />
    </root>

</configuration>